<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.lamiv.android.newsfeedfromatomservice">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ESportListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ESportDetailActivity"
            android:label="@string/title_esport_detail"
            android:parentActivityName=".ESportListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.lamiv.android.newsfeedfromatomservice.ESportListActivity" />
        </activity>
        <activity
            android:name=".ESportsDetailsDisplayActivity"
                android:label="@string/title_esport_detail">

        </activity>
    </application>

</manifest>